.dashboard_navs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  width: 100%;
  height: 200px;
  background-color: #708871;
  margin-bottom: 10px;
}

.dashboard_navs:hover {
  background-color: #bec6a0;
}

.dashboard_text_block {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.584);
}

.dashboard_text_block ul {
  text-align: left;
}

.dashboard_text_block h3 {
  margin: 0;
}

.dashboard_text_block p {
  margin: 0;
}

.card_section {
  display: flex;
  justify-content: center;
}

header > h3,
header > h1 {
  margin: 10px 0;
}

.deck_grid_container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
  gap: 40px 40px;
}

.deck_flex_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-height: 412px) {
  .deck_grid_container {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px 40px;
  }
  header > h3,
  header > h1 {
    margin: 0 0;
  }
}

@media (max-width: 768px) {
  .deck_grid_container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

.deck_grid_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  font-size: 30px;
  box-shadow: 1px 2px 5px black;
  height: 80px;
  width: auto;
  transition: all 0.25s;
}

.deck_flex_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c8c6c6;
  padding: 20px;
  font-size: 30px;
  height: 80px;
  width: auto;
  transition: all 0.25s;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.386);
  margin: 0 2rem;
}

.deck_flex_item:hover {
  background-color: #e6e4e4;
}

.deck_item_btn {
  display: flex;
  font-size: medium;
  margin-right: 10px;
}

.deck_grid_item:hover {
  box-shadow: 1px 2px 5px rgb(139, 210, 33);
  color: rgb(0, 0, 0);
}

.deck_item_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck_item_remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  padding: 5px;
  cursor: pointer;
}

.deck_item_remove > img {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.825);
  border-radius: 50%;
  transition: all 0.25s;
}
.deck_item_remove > img:hover {
  box-shadow: 1px 2px 8px rgb(255, 0, 0);
}

.deck_item_edit {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
  padding: 5px;
  cursor: pointer;
}

.deck_item_edit > img {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.825);
  border-radius: 50%;
  transition: all 0.25s;
}

.deck_item_edit > img:hover {
  box-shadow: 1px 2px 8px rgb(0, 128, 255);
}

#deckNameInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#deckNameSubmit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 6px 5px #585656;
}

#deckNameSubmit:active {
  box-shadow: 0 3px 2px #323131;
  transform: translateY(4px);
}
