.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #606676;
  align-items: center;
  height: 2em;
  color: white;
  z-index: 200;
}

.nav_items_container {
  margin-right: 1em;
}

.nav_items {
  margin-left: 1em;
  color: white;
  text-decoration: none;
}

.nav_items:hover,
.nav_items:active {
  text-decoration: underline;
}
