.canvas_controls_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.control_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
  border-radius: 20%;
  padding: 2px;
}

.eraser_selected {
  box-shadow: 0px 2px 8px #2c5079;
}

.icon_container {
  margin-left: 1em;
  padding: 10px;
  border-radius: 50%;
}

.icon_container_selected {
  background-color: blanchedalmond;
}

.icon {
  width: 1.75em;
}

.control_btn {
  background-color: #606676;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0 6px 5px #585656;
}

.control_btn:hover {
  background-color: #787d8a;
}

.control_btn:active {
  box-shadow: 0 3px 2px #323131;
  transform: translateY(4px);
}
