.canvas_controls_container{
    display: flex;
}

.icon_container {
    margin-left: 1em;
    padding: 10px;
    border-radius: 50%;
}

.icon_container_selected{
    background-color: blanchedalmond;
}

.icon{
    width: 1.75em;
}

.colorpicker{

}

.colorpicker option {
    background-color: black; /* Ensures option text is always readable */
  }
.colorpicker option:hover {
    background-color: yellow; /* Ensures option text is always readable */
  }

  .colorpicker:hover {
    background-color: transparent; /* Prevents hover background change */
  }

