.flashcard_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 30em;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 5px 8px #2f2f2fc0;
}

.flashcard_header{
    border: none;
    outline: none;
    text-align: 'center';
    font-size: large;
    white-space: 'pre-wrap';
     wordWrap: 'break-word';
}


.flashcard_textarea{
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    background: none;
}

.flashcard_content_container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvas_container{
    width: 100%;
    height: 95%;
    margin-top: 0;
    box-sizing: border-box;
    position: absolute;
}

.flashcard_canvas{
    touch-action: none;
    width: 100%;
    height: 100%;
}

.controls {
    width: 100%;
    background-color: bisque;
}


.ql-editor{
    height: 300px;
    width: 100%;
}